################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/PI1/v16/ipch/AutoPCH/2e4e71028c6282b/PI1.ipch
